python-dotenv
praw
indic-nlp-library
git+https://github.com/siddharth17196/english-hindi-transliteration
googletrans==4.0.0-rc1
transformers
nltk
pysolr
spacy
requests
stanfordnlp
keybert
Flask
Flask-Cors
# python -m spacy download en_core_web_sm; to get the corpus for spacy NER